<nav class="navbar navbar-expand-lg navbar-light">
  <a href="#" class="navbar-brand mb-0 h1" aria-label="my-quizz-brand"
    >MyQuizz</a
  >
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbar-text"
    aria-controls="navbar-text"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar-text">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="" class="nav-link" aria-label="quizz-list-menu">Quizz list</a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link">Logout</a>
      </li>
    </ul>
    <!-- Add Extra menu component here -->
  </div>
</nav>
<div class="container py-md-3 col-12">
  <!-- Add the router outlet -->
  <router-outlet></router-outlet>
</div>
